[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kompowiec/Desktop/Walenie trupa _ Creepypasta Wiki _ Fandom_files]
row=5
col=0

[/home/kompowiec/Desktop/Screenshot_2023-01-15_11-59-34.png]
row=4
col=1

[/home/kompowiec/Desktop/tex.tex]
row=0
col=2

[/home/kompowiec/Desktop/chromium.desktop]
row=4
col=0

[/home/kompowiec/Desktop/WebHTTrack-Websites.desktop]
row=3
col=1

[/home/kompowiec/Desktop/firefox-esr.desktop]
row=3
col=0

[/home/kompowiec/Desktop/najlepsze-posty.txt]
row=1
col=1

[/home/kompowiec/Desktop/romantic-attachment-styles.jpg]
row=5
col=1

[/home/kompowiec/Desktop/comment_fLLrf18YbZqioBaLs1xMmVbe8Mm4lk7b.jpg]
row=2
col=1

[/home/kompowiec/Desktop/Screenshot.png]
row=1
col=2

[/home/kompowiec/Desktop/Walenie trupa _ Creepypasta Wiki _ Fandom.html]
row=0
col=1

[82f13a02-8ace-43b4-a3a5-d008f147fa8b]
row=2
col=2

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/kompowiec]
row=2
col=0

